/* line 3, ../sass/js808.scss */
body {
  background: white;
  font: 14px/21px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 8, ../sass/js808.scss */
#drum-machine {
  width: 80%;
  background: #333;
  color: white;
  margin: 0 auto;
  border-left: 50px solid #111;
  border-right: 50px solid #111;
  /*   @include transform(perspective(1000px) rotateX(2deg)); */
}

/* line 18, ../sass/js808.scss */
#drum-machine-top {
  position: relative;
  background: #444;
  height: 20px;
}
/* line 23, ../sass/js808.scss */
#drum-machine-top div {
  position: absolute;
  left: -50px;
  bottom: 0;
  height: 22px;
  width: 50px;
  background: #222;
}
/* line 31, ../sass/js808.scss */
#drum-machine-top div:last-child {
  left: auto;
  right: -50px;
}

/* line 38, ../sass/js808.scss */
.drum-grouping {
  position: relative;
  float: left;
  width: 8.8%;
  height: 300px;
  border-right: 1px solid #888;
}
/* line 45, ../sass/js808.scss */
.drum-grouping h2 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: normal;
  background: lightyellow;
  color: #111;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 54, ../sass/js808.scss */
.drum-grouping h2 span {
  font-size: 12px;
  font-weight: bold;
}
/* line 60, ../sass/js808.scss */
.drum-grouping input[type="range"] {
  width: 100%;
}
/* line 64, ../sass/js808.scss */
.drum-grouping:last-child {
  border-right: none;
}
/* line 69, ../sass/js808.scss */
.drum-grouping .drum.first {
  display: none;
}
/* line 76, ../sass/js808.scss */
.drum-grouping.toggled .drum.first {
  display: block;
}
/* line 80, ../sass/js808.scss */
.drum-grouping.toggled .drum.last {
  display: none;
}

/* line 88, ../sass/js808.scss */
.drum .active {
  background: #555;
}

/* line 93, ../sass/js808.scss */
#play {
  clear: both;
  float: left;
}

/* line 99, ../sass/js808.scss */
#sequencer button {
  display: inline-block;
  border: none;
  background: red;
  color: black;
}
/* line 105, ../sass/js808.scss */
#sequencer button:nth-child(n+5) {
  background: orange;
}
/* line 109, ../sass/js808.scss */
#sequencer button:nth-child(n+9) {
  background: yellow;
}
/* line 113, ../sass/js808.scss */
#sequencer button:nth-child(n+13) {
  background: lightyellow;
}
/* line 117, ../sass/js808.scss */
#sequencer button.active {
  color: pink;
  text-shadow: 0 0 5px #f44;
}
