@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);
/* line 11, ../sass/js808.scss */
body {
  background: #2c1906;
  font: 14px/21px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 16, ../sass/js808.scss */
button:focus {
  outline: 0;
}

/* line 20, ../sass/js808.scss */
label {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b4b4b4;
  text-shadow: 0 0 1px #111111;
}

/* line 30, ../sass/js808.scss */
#drum-machine {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1142px;
  color: white;
  padding: 24px 30px 30px;
  border-left: 30px solid #202020;
  border-right: 30px solid #202020;
  overflow: hidden;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, #4a4951), color-stop(69%, #393439), color-stop(100%, #222122));
  background-image: -webkit-radial-gradient(top left, ellipse cover, #4a4951 0%, #393439 69%, #222122 100%);
  background-image: -moz-radial-gradient(top left, ellipse cover, #4a4951 0%, #393439 69%, #222122 100%);
  background-image: -o-radial-gradient(top left, ellipse cover, #4a4951 0%, #393439 69%, #222122 100%);
  background-image: radial-gradient(top left, ellipse cover, #4a4951 0%, #393439 69%, #222122 100%);
  -webkit-box-shadow: inset 0 0 4px -2px #040404, inset 0 6px 4px -2px #cacaca, 0 10px 100px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 4px -2px #040404, inset 0 6px 4px -2px #cacaca, 0 10px 100px 10px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 4px -2px #040404, inset 0 6px 4px -2px #cacaca, 0 10px 100px 10px rgba(0, 0, 0, 0.6);
}

/* line 47, ../sass/js808.scss */
#drums {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}

/* line 53, ../sass/js808.scss */
.tempo-wrapper,
.drum {
  float: left;
  width: 80px;
  height: 300px;
  border-right: 2px solid #636363;
}

/* line 60, ../sass/js808.scss */
.tempo-wrapper {
  width: 120px;
}
/* line 65, ../sass/js808.scss */
.tempo-wrapper .range-knob-wrapper,
.tempo-wrapper .range-knob-wrapper input[type="range"] {
  width: 100px;
  height: 100px;
}
/* line 70, ../sass/js808.scss */
.tempo-wrapper .range-knob-wrapper .range-knob {
  width: 80px;
  height: 80px;
  top: 12px;
  left: 12px;
}
/* line 76, ../sass/js808.scss */
.tempo-wrapper .range-knob-wrapper .range-knob:after {
  height: 21px;
  left: 34px;
}

/* line 84, ../sass/js808.scss */
.drum {
  position: relative;
}
/* line 87, ../sass/js808.scss */
.drum h2 {
  font-size: 15px;
  font-variant: small-caps;
  font-weight: normal;
  text-align: center;
  background: #fcf6ce;
  color: #111;
  margin: 13px 2px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px white;
  -moz-box-shadow: inset 0 0 5px white;
  box-shadow: inset 0 0 5px white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 99, ../sass/js808.scss */
.drum h2 span {
  font-size: 12px;
  font-weight: bold;
}
/* line 105, ../sass/js808.scss */
.drum .drum-toggle {
  position: relative;
  display: block;
  background: #111;
  border: 1px solid #000;
  width: 10px;
  height: 25px;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 1px 1px 0 #3c3c3c;
  -moz-box-shadow: 1px 1px 0 #3c3c3c;
  box-shadow: 1px 1px 0 #3c3c3c;
}
/* line 116, ../sass/js808.scss */
.drum .drum-toggle:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2O0sbH5z4AEGDEEfHx8UFWgCwAAFRsHMbouKDMAAAAASUVORK5CYII=) repeat;
  -webkit-box-shadow: 0 5px 0 0 #2c2c2c;
  -moz-box-shadow: 0 5px 0 0 #2c2c2c;
  box-shadow: 0 5px 0 0 #2c2c2c;
}
/* line 130, ../sass/js808.scss */
.drum.use-alt .drum-toggle:after {
  top: 7px;
  -webkit-box-shadow: 0 3px 0 0 #2c2c2c;
  -moz-box-shadow: 0 3px 0 0 #2c2c2c;
  box-shadow: 0 3px 0 0 #2c2c2c;
}
/* line 136, ../sass/js808.scss */
.drum:last-child {
  border-right: none;
}
/* line 140, ../sass/js808.scss */
.drum.active {
  background: rgba(127, 127, 127, 0.2);
}

/* line 145, ../sass/js808.scss */
#name {
  overflow: hidden;
  *zoom: 1;
  text-align: right;
  padding: 12px 0 30px;
}
/* line 151, ../sass/js808.scss */
#name h1,
#name h2 {
  margin: 0;
}
/* line 155, ../sass/js808.scss */
#name h1 {
  float: right;
  width: 900px;
  color: #fb802e;
  border-bottom: 3px solid #fb802e;
  font-family: 'Hammersmith One';
  font-size: 36px;
  font-weight: normal;
  line-height: 30px;
  text-shadow: 1px 1px #191919;
  -webkit-box-shadow: 0 1px #2c2c2c;
  -moz-box-shadow: 0 1px #2c2c2c;
  box-shadow: 0 1px #2c2c2c;
}
/* line 167, ../sass/js808.scss */
#name h1 span {
  font-size: 24px;
  margin: 0 80px 0 20px;
}
/* line 173, ../sass/js808.scss */
#name h2 {
  clear: both;
  float: right;
  margin-top: 4px;
  margin-right: 80px;
  color: #acacac;
}

/* line 182, ../sass/js808.scss */
#play {
  clear: both;
  float: left;
  position: relative;
  top: -4px;
  left: -4px;
  width: 100px;
  background: #f7f2ed;
  border: 5px solid #d1bfad;
  margin-right: 20px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 0 #9f7246, 2px 2px 0 #9f7246, 3px 3px 0 #9f7246, 4px 4px 0 #9f7246;
  -moz-box-shadow: 1px 1px 0 #9f7246, 2px 2px 0 #9f7246, 3px 3px 0 #9f7246, 4px 4px 0 #9f7246;
  box-shadow: 1px 1px 0 #9f7246, 2px 2px 0 #9f7246, 3px 3px 0 #9f7246, 4px 4px 0 #9f7246;
}
/* line 195, ../sass/js808.scss */
#play span {
  display: block;
  text-transform: uppercase;
}
/* line 199, ../sass/js808.scss */
#play span:first-child {
  border-bottom: 1px solid #666;
}
/* line 204, ../sass/js808.scss */
#play.playing {
  background: white;
  border: 5px solid #e8d030;
  -webkit-box-shadow: 0 0 10px #f7e56d;
  -moz-box-shadow: 0 0 10px #f7e56d;
  box-shadow: 0 0 10px #f7e56d;
  top: 0;
  left: 0;
}

/* line 214, ../sass/js808.scss */
#sequencer button {
  display: inline-block;
  border: none;
  background: #fe5438;
  color: black;
  width: 33px;
  padding-right: 7px;
  height: 80px;
  font-size: 36px;
  margin-right: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #b61a01;
  -moz-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #b61a01;
  box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #b61a01;
}
/* line 228, ../sass/js808.scss */
#sequencer button:nth-child(n+5) {
  background: #fe9633;
  -webkit-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #b15701;
  -moz-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #b15701;
  box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #b15701;
}
/* line 233, ../sass/js808.scss */
#sequencer button:nth-child(n+9) {
  background: #f7e56d;
  -webkit-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #d9be0c;
  -moz-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #d9be0c;
  box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #d9be0c;
}
/* line 238, ../sass/js808.scss */
#sequencer button:nth-child(n+13) {
  background: #f7f2ed;
  -webkit-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #d0b295;
  -moz-box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #d0b295;
  box-shadow: 0 1px 0 3px #202020, inset -5px 0 0 #d0b295;
}
/* line 243, ../sass/js808.scss */
#sequencer button.active {
  color: #feb0c1;
  text-shadow: 0 0 8px #fd4b71, -1px 1px 0 #fd4b71;
}

/* line 251, ../sass/js808.scss */
.range-knob-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
/* line 257, ../sass/js808.scss */
.range-knob-wrapper input[type="range"] {
  position: relative;
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 266, ../sass/js808.scss */
.range-knob-wrapper .range-knob {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #f7f2ed;
  border: 4px solid #111;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 8px #1c1c1c, 0 0 1px 1px #4c4c4c;
  -moz-box-shadow: 0 0 8px #1c1c1c, 0 0 1px 1px #4c4c4c;
  box-shadow: 0 0 8px #1c1c1c, 0 0 1px 1px #4c4c4c;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 280, ../sass/js808.scss */
.range-knob-wrapper .range-knob:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 8px;
  top: 0;
  left: 9px;
  background: #111;
}
/* line 292, ../sass/js808.scss */
.range-knob-wrapper .vol + .range-knob {
  background: #fe9633;
}
