@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);
/* line 6, ../sass/js808.scss */
body {
  background: white;
  font: 14px/21px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/js808.scss */
button:focus {
  outline: 0;
}

/* line 15, ../sass/js808.scss */
label {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ccc;
}

/* line 24, ../sass/js808.scss */
#drum-machine {
  width: 1133px;
  background: #333;
  color: white;
  margin: 0 auto;
  padding: 18px 30px;
  border-left: 30px solid #111;
  border-right: 30px solid #111;
  overflow: hidden;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/js808.scss */
#drums {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}

/* line 42, ../sass/js808.scss */
.tempo-wrapper,
.drum {
  float: left;
  width: 80px;
  height: 300px;
  border-right: 2px solid #888;
}

/* line 49, ../sass/js808.scss */
.tempo-wrapper {
  width: 120px;
}
/* line 54, ../sass/js808.scss */
.tempo-wrapper .range-knob-wrapper,
.tempo-wrapper .range-knob-wrapper input[type="range"] {
  width: 100px;
  height: 100px;
}
/* line 59, ../sass/js808.scss */
.tempo-wrapper .range-knob-wrapper .range-knob {
  width: 80px;
  height: 80px;
  top: 12px;
  left: 12px;
}
/* line 65, ../sass/js808.scss */
.tempo-wrapper .range-knob-wrapper .range-knob:after {
  height: 21px;
  left: 34px;
}

/* line 73, ../sass/js808.scss */
.drum {
  position: relative;
}
/* line 76, ../sass/js808.scss */
.drum h2 {
  font-size: 16px;
  font-variant: small-caps;
  font-weight: normal;
  text-align: center;
  background: lightyellow;
  color: #111;
  margin: 13px 2px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 87, ../sass/js808.scss */
.drum h2 span {
  font-size: 12px;
  font-weight: bold;
}
/* line 93, ../sass/js808.scss */
.drum .drum-toggle {
  position: relative;
  display: block;
  background: #111;
  border: 1px solid #000;
  width: 10px;
  height: 25px;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 103, ../sass/js808.scss */
.drum .drum-toggle:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 12px;
  background: #555;
}
/* line 116, ../sass/js808.scss */
.drum.use-alt .drum-toggle:after {
  top: 7px;
}
/* line 121, ../sass/js808.scss */
.drum:last-child {
  border-right: none;
}
/* line 125, ../sass/js808.scss */
.drum.active {
  background: #444;
}

/* line 131, ../sass/js808.scss */
#name h1 {
  width: 800px;
  color: #cc8400;
  border-bottom: 3px solid #cc8400;
  font-family: 'Hammersmith One';
  font-size: 36px;
  font-weight: normal;
  text-align: right;
  line-height: 30px;
}
/* line 141, ../sass/js808.scss */
#name h1 span {
  font-size: 24px;
  margin: 0 60px 0 20px;
}

/* line 148, ../sass/js808.scss */
#play {
  clear: both;
  float: left;
  width: 100px;
  background: lightyellow;
  border: 5px solid #f7f768;
  margin-right: 20px;
  cursor: pointer;
}
/* line 157, ../sass/js808.scss */
#play span {
  display: block;
  text-transform: uppercase;
}
/* line 161, ../sass/js808.scss */
#play span:first-child {
  border-bottom: 1px solid #666;
}
/* line 166, ../sass/js808.scss */
#play.playing {
  background: white;
  border: 5px solid #fafa99;
  -webkit-box-shadow: 0 0 10px lightyellow;
  -moz-box-shadow: 0 0 10px lightyellow;
  box-shadow: 0 0 10px lightyellow;
}

/* line 174, ../sass/js808.scss */
#sequencer button {
  display: inline-block;
  border: none;
  background: red;
  color: black;
  width: 50px;
  height: 80px;
  font-size: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 184, ../sass/js808.scss */
#sequencer button:nth-child(n+5) {
  background: orange;
}
/* line 188, ../sass/js808.scss */
#sequencer button:nth-child(n+9) {
  background: yellow;
}
/* line 192, ../sass/js808.scss */
#sequencer button:nth-child(n+13) {
  background: lightyellow;
}
/* line 196, ../sass/js808.scss */
#sequencer button.active {
  color: #f55;
  text-shadow: 0 0 5px maroon;
}

/* line 204, ../sass/js808.scss */
.range-knob-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
/* line 210, ../sass/js808.scss */
.range-knob-wrapper input[type="range"] {
  position: relative;
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 219, ../sass/js808.scss */
.range-knob-wrapper .range-knob {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #eee;
  border: 4px solid #111;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 232, ../sass/js808.scss */
.range-knob-wrapper .range-knob:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 8px;
  top: 0;
  left: 9px;
  background: #111;
}
/* line 244, ../sass/js808.scss */
.range-knob-wrapper .vol + .range-knob {
  background: orange;
}
