@import "compass/utilities/general/clearfix";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

$white: #f7f2ed;
$yellow: #f7e56d;
$orange: #fe9633;
$red: #fe5438;

body {
  background: darken(desaturate($orange, 25%), 50%);
  font: 14px/21px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button:focus {
  outline: 0;
}

label {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b4b4b4;
  @include text-shadow(0 0 1px #111);
}

#drum-machine {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  width: 1142px;
  color: white;
  padding: 24px 30px 30px;
  border-left: 30px solid #202020;
  border-right: 30px solid #202020;
  @include clearfix;
  @include box-sizing(border-box);
  @include border-radius(4px);
  @include background-image(radial-gradient(top left, ellipse cover, #4a4951 0%,#393439 69%,#222122 100%));
  @include box-shadow(inset 0 0 4px -2px #040404, inset 0 6px 4px -2px #cacaca, 0 10px 100px 10px rgba(0, 0, 0, 0.6));
}

#drums {
  @include clearfix;
  margin-bottom: 20px;
}

.tempo-wrapper,
.drum {
  float: left;
  width: 80px;
  height: 300px;
  border-right: 2px solid #636363;
}

.tempo-wrapper {
  width: 120px;
  
  .range-knob-wrapper {
    &,
    input[type="range"] {
      width: 100px;
      height: 100px;
    }
    
    .range-knob {
      width: 80px;
      height: 80px;
      top: 12px;
      left: 12px;
      
      &:after {
        height: 21px;
        left: 34px;
      }
    }
  }
}

.drum {
  position: relative;
  
  h2 {
    font-size: 15px;
    font-variant: small-caps;
    font-weight: normal;
    text-align: center;
    background: lighten($yellow, 20%);
    color: #111;
    margin: 13px 2px 12px;
    @include border-radius(3px);
    @include box-shadow(inset 0 0 5px #fff);
    @include box-sizing(border-box);
    
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
  
  .drum-toggle {
    position: relative;
    display: block;
    background: #111;
    border: 1px solid #000;
    width: 10px;
    height: 25px;
    margin: 0 auto;
    @include border-radius(0);
    @include box-shadow(1px 1px 0 #3c3c3c);
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 10px;
      height: 12px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2O0sbH5z4AEGDEEfHx8UFWgCwAAFRsHMbouKDMAAAAASUVORK5CYII=) repeat;
      @include box-shadow(0 5px 0 0 #2c2c2c);
    }
  }
  
  &.use-alt {
    .drum-toggle:after {
      top: 7px;
      @include box-shadow(0 3px 0 0 #2c2c2c);
    }
  }
  
  &:last-child {
    border-right: none;
  }
  
  &.active {
    background: rgba(127,127,127,0.2);
  }
}

#name {
  @include clearfix();
  text-align: right;
  padding: 12px 0 30px;
  
  h1,
  h2 {
    margin: 0;
  }
  
  h1 {
    float: right;
    width: 900px;
    color: #fb802e;
    border-bottom: 3px solid #fb802e;
    font-family: 'Hammersmith One';
    font-size: 36px;
    font-weight: normal;
    line-height: 30px;
    @include text-shadow(1px 1px #191919);
    @include box-shadow(0 1px #2c2c2c);
    
    span {
      font-size: 24px;
      margin: 0 80px 0 20px;
    }
  }
  
  h2 {
    clear: both;
    float: right;
    margin-top: 4px;
    margin-right: 80px;
    color: #acacac;
  }
}

#play {
  clear: both;
  float: left;
  position: relative;
  top: -4px;
  left: -4px;
  width: 100px;
  background: $white;
  border: 5px solid desaturate(darken($white, 20%), 10%);
  margin-right: 20px;
  cursor: pointer;
  @include box-shadow(1px 1px 0 darken($white, 50%), 2px 2px 0 darken($white, 50%), 3px 3px 0 darken($white, 50%), 4px 4px 0 darken($white, 50%));
  
  span {
    display: block;
    text-transform: uppercase;
    
    &:first-child {
      border-bottom: 1px solid #666;
    }
  }
  
  &.playing {
    background: lighten(lightyellow, 10%);
    border: 5px solid desaturate(darken($yellow, 15%), 10%);
    @include box-shadow(0 0 10px $yellow);
    top: 0;
    left: 0;
  }
}

#sequencer {
  button {
    display: inline-block;
    border: none;
    background: $red;
    color: black;
    width: 33px;
    padding-right: 7px;
    height: 80px;
    font-size: 36px;
    margin-right: 6px;
    @include border-radius(4px);
    @include box-sizing(content-box);
    @include box-shadow(0 1px 0 3px #202020, inset -5px 0 0 darken($red, 25%));
    
    &:nth-child(n+5) {
      background: $orange;
      @include box-shadow(0 1px 0 3px #202020, inset -5px 0 0 darken($orange, 25%));
    }
    
    &:nth-child(n+9) {
      background: $yellow;
      @include box-shadow(0 1px 0 3px #202020, inset -5px 0 0 darken($yellow, 25%));
    }
    
    &:nth-child(n+13) {
      background: $white;
      @include box-shadow(0 1px 0 3px #202020, inset -5px 0 0 darken($white, 25%));
    }
    
    &.active {
      color: lighten(#fd4b71, 20%);
      text-shadow: 0 0 8px #fd4b71, -1px 1px 0 #fd4b71;
    }
  }
}

// RANGE KNOBS
.range-knob-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  
  input[type="range"] {
    position: relative;
    z-index: 2;
    @include opacity(0);
    width: 50px;
    height: 50px;
    @include transform(rotate(-90deg));
  }
  
  .range-knob {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: $white;
    border: 4px solid #111;
    @include border-radius(50%);
    @include box-shadow(0 0 8px #1c1c1c, 0 0 1px 1px #4c4c4c);
    @include transition(0.1s all);
    @include box-sizing(border-box);
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 8px;
      top: 0;
      left: 9px;
      background: #111;
    }
  }
  
  .vol + .range-knob {
    background: $orange;
  }
}
